# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IDEA files
.idea
*.iws
*.iml
*.ipr
# Target
target
# .properties
application.properties
# Dependencies
/lib/
# Maven
.mvn